 # Ejecutables y archivos objeto de C++
*.exe
*.o
*.obj
*.out

# Estas son las carpetas temporales y de compilación
build/
Debug/
Release/
.vscode/
.idea/

# Se crea un archivo de guardado
partida_temp.txt
